body {
    font-size: 20pt;
}

input[type="text"], input[type="password"] {
    height: 1.5em;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
}

input[type="submit"] {
    height: 1.5em;
    border-radius: 4px;
    padding: 5px;
}

input {
    margin: 10px;
}

div.container {
    height: 100%;
    position: relative;
}

form {
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 25%;
}

